<template>
  <div id="app">


    <div class="container">
        <div class="row justify-content-md-center">

          <div class="col-12 col-md-auto">
        <h3>{{ saludojs }}</h3>
          </div>



        </div>

        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto">
            <ul>
              <li v-for="p in personas"> <a :href="p.perfil">{{p.nombre}}</a> -  {{p.apellido}} - {{p.desarrollador}}</li>
            </ul>
          </div>
    </div>

    <div class="row justify-content-md-center">

      <div class="col-12 col-md-auto">
    <h3>Añadir Persona</h3>


      </div>
  </div>



    <div class="row justify-content-md-center">

      <div class="col-12 col-md-auto">

        <input type="text" name="" value="" placeholder="Nombre" v-model="nombre">
        <input type="text" name="" value="" placeholder="apellido" v-model="apellido">
        <input type="text" name="" value="" placeholder="Perfil" v-model="perfil">
        <input type="checkbox" name="" value="" v-model="desarrollador">
        <button type="button" name="button" v-on:click="addperson(nombre,apellido,perfil,desarrollador)">añadir</button>

      </div>
  </div>


      </div>


  <child></child>
  </div>

</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      saludojs:'Hola a todos',
  personas: [{nombre:'jairo',apellido:'castañeda',desarrollador:true, perfil:'/jairo'},
            {nombre:'daniel',apellido:'diaz',desarrollador:true, perfil:'/daniel'},
            {nombre:'jose',apellido:'rodrigues',desarrollador:false, perfil:'/jose'},
            {nombre:'andres',apellido:'diaz',desarrollador:false, perfil:'/andres'}],

    }
  },

  methods:{
  addperson:function(nombre,apellido,perfil,desarrollador) {
    const persona={nombre:nombre,apellido:apellido,perfil:perfil,desarrollador:desarrollador}
    this.personas.push(persona)

  }
}
}
</script>

<style>

</style>
