<template>
  <div id="hijo">



<div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-md-auto">
    <h3>{{msg}}</h3>
      </div>



    </div>
  </div>
  </div>
</template>
<script>
export default {
  name: "#hijo",
  data: () => ({
msg:'Soy tu hijo!!!'
  })
}
</script>
<style >
</style>
